<p>
  page-private works!
</p>
<div class="main-content">
  <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="row wrap" fxLayout.lt-md="column wrap" fxLayoutGap="1%">
    <div fxFlex="48%" fxFlexFill>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="email" formControlName="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <mat-error *ngIf="isFieldInvalid('email')">
          No valid email address!
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="48%" fxFlexFill>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="name" formControlName="name" required>
        <mat-error *ngIf="isFieldInvalid('name')">
          No valid name!
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100%" fxFlexFill>
        <button mat-button type="submit">submit</button>
    </div>
  </form>
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odio deleniti at eligendi laudantium culpa
  perferendis, sunt cupiditate ea eaque earum magnam! Eos sequi quia fuga possimus, officia autem incidunt!
</p>
