.container {
  min-height: 100vh;
  min-width: 100%;
  background: #f0f2f5;
  background-image: url('/assets/background-1.svg');
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
}
